<body class="background">
  <div class="auth-main">
    <div class="auth-block" style="position:relative;">
      <img src="../../../assets/images/logo.PNG" />
      <form [formGroup]="loginForm" (ngSubmit)="goTo()">
        <div>
            <input class="loginInput"  placeholder="Username" formControlName="username">
        </div>
        <div>
            <input class="loginInput"  placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password">
        </div>
        <div style="text-align: center">
          <button mat-button class="loginBtn" type="submit">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</body>