mat-sidenav-container {
  height: 100vh !important;

  mat-sidenav {
    width: 250px;

    .userLogo {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 100px;
        max-height: 100px;
      }
    }

    .innerLogo {
      max-width: 12em;

    }    

    mat-list-item {
      display: flex;
      align-items: center;
      height: 55px;
      width: 100%;
      font-size: 18px;
      

      .mat-list-item-content {
        padding: 0!important;
      }

      div {
        display: flex;
        align-items: center;
      }

      img {
        margin-right: 15px;
        max-width: 30px;
      }
    }

    mat-list-item:hover {
      background-color: rgba($color: #000000, $alpha: .1);
    }
  }

  mat-sidenav-content {
    height: 100vh;
  }

  .active-link {
    background-color: rgba($color: #000000, $alpha: .1);
    border: none;

  }
}

