<mat-sidenav-container>
  <mat-sidenav opened="menu" mode="side">
    <img src="../../../../../assets/images/logo.PNG" alt="" class="innerLogo">
    <div class="userLogo">
      <img src="../../../../../assets/images/user.PNG" alt="">
      <p style="font-size: 20px;">Jorge Solano</p>
      <span style="color: #6D8BA9;">Beneficiario</span>
    </div>
    
    <mat-list>
      <mat-list-item matLine routerLink="/map" routerLinkActive="active-link" style="padding: 0px;">
        <div>
          <img src="../../../../../assets/images/aguila.PNG" alt="">
          Pedir Aguila
        </div>
      </mat-list-item>
      <mat-list-item matLine routerLink="/flights" routerLinkActive="active-link">
        <div >
          <img src="../../../../../assets/images/vuelos.PNG" alt="">
          Vuelos
        </div>
      </mat-list-item>
      <mat-list-item matLine routerLink="/routes" routerLinkActive="active-link">
        <div >
          <img src="../../../../../assets/images/rutas.PNG" alt="">
          Rutas
        </div>
      </mat-list-item>
      <mat-list-item matLine routerLink="/manage" routerLinkActive="active-link">
        <div >
          <img src="../../../../../assets/images/administrar.PNG" alt="">
          Administrar
        </div>
      </mat-list-item>
      <mat-list-item matLine routerLink="/statistics" routerLinkActive="active-link">
        <div >
          <img src="../../../../../assets/images/estadisticas.PNG" alt="">
          Estadisticas
        </div>
      </mat-list-item>
      <mat-list-item matLine routerLink="/payments" routerLinkActive="active-link">
        <div >
          <img src="../../../../../assets/images/tarjeta.PNG" alt="">
          Medios de Pago
        </div>
      </mat-list-item>
      <mat-list-item matLine routerLink="" routerLinkActive="active-link">
        <div >
          <img src="../../../../../assets/images/logout.PNG" alt="">
          Cerrar sesion
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>